<h1 class="page-header">教学运行公告</h1>

<div class="row table-responsive">
    <table class="table table-condensed">
        <tr class="info">
            <td><a class="btn btn-sm btn-info">1</a></td>
            <td><a class="btn btn-sm btn-info">2</a></td>
            <td><a class="btn btn-sm btn-info">3</a></td>
            <td><a class="btn btn-sm btn-info">4</a></td>
            <td><a class="btn btn-sm btn-info">5</a></td>
            <td><a class="btn btn-sm btn-info">6</a></td>
            <td><a class="btn btn-sm btn-info">7</a></td>
            <td><a class="btn btn-sm btn-info">8</a></td>
            <td><a class="btn btn-sm btn-info">9</a></td>
            <td><a class="btn btn-sm btn-info">10</a></td>
            <td><a class="btn btn-sm btn-info">11</a></td>
            <td><a class="btn btn-sm btn-info">12</a></td>
            <td><a class="btn btn-sm btn-info">13</a></td>
            <td><a class="btn btn-sm btn-info">14</a></td>
            <td><a class="btn btn-sm btn-info">15</a></td>
            <td><a class="btn btn-sm btn-info">16</a></td>
            <td><a class="btn btn-sm btn-info">17</a></td>
            <td><a class="btn btn-sm btn-info">18</a></td>
            <td><a class="btn btn-sm btn-info">19</a></td>
            <td><a class="btn btn-sm btn-info">20</a></td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        会计从业资格考前培训 ----迈向会计的第一步
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse out">
                <div class="panel-body">
                    亲爱的同学：
                    大连交通大学经济管理学院现诚挚向您发出邀请！我们本着为同学真诚服务的态度，积极与大连市会计服务中心财会培训学校（隶属于大连市财政局）取得联系并合力举办会计从业资格考前培训班。
                    你想一毕业就当会计吗？你想以会计成就人生吗？那就从这里开始吧。在校期间考取会计从业资格证书是有志从事会计工作的大学生毕业从事会计工作必不可少的条件之一。应广大学生要求，我院特别提供会计从业资格证的考前培训，由长期从事会计从业资格考前培训的专职教师授课，具体事宜如下：

                    一、培训对象： 大连交通大学在校生

                    二、课程设置及收费：
                    培训课程 培训内容 培训时间 收费

                    会计基础理论 基础会计 两个月 三科780元
                    （含三科教材费和30元/科考试软件练习费）

                    初级会计电算化 计算机基础知识，会计软件（操作系统、办公软件、网络知识） 一个半月

                    财经法规与职业道德 一个月

                    三、考试形式：参加大连市财政局无纸化考试，每季度考一次，三科须一次性通过有效。

                    四、培训形式：统一授课，考前免费上机练习；一次不过、免费再学。

                    五、上课地点：大连交通大学本部校区、旅顺校区。咨询电话：86226635 QQ群：310987641

                    六、报名及培训时间：每年3月，9月开课。报名地点在二号楼625（本部校区），教学楼716（旅顺校区）。学费由大连交通大学经济管理学院代收。

                    七、学校网址http://www.dlkjfw.com（实名：大连市会计服务中心）


                    大连交通大学经济管理学院
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Collapsible Group Item #2
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Collapsible Group Item #3
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                    squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                    squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                    butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>