<h1 class="page-header">教学运行公告</h1>

<div class="row table-responsive">
    <table class="table table-condensed">
        <tr class="info">
            <td><a class="btn btn-sm btn-info">1</a></td>
            <td><a class="btn btn-sm btn-info">2</a></td>
            <td><a class="btn btn-sm btn-info">3</a></td>
            <td><a class="btn btn-sm btn-info">4</a></td>
            <td><a class="btn btn-sm btn-info">5</a></td>
            <td><a class="btn btn-sm btn-info">6</a></td>
            <td><a class="btn btn-sm btn-info">7</a></td>
            <td><a class="btn btn-sm btn-info">8</a></td>
            <td><a class="btn btn-sm btn-info">9</a></td>
            <td><a class="btn btn-sm btn-info">10</a></td>
            <td><a class="btn btn-sm btn-info">11</a></td>
            <td><a class="btn btn-sm btn-info">12</a></td>
            <td><a class="btn btn-sm btn-info">13</a></td>
            <td><a class="btn btn-sm btn-info">14</a></td>
            <td><a class="btn btn-sm btn-info">15</a></td>
            <td><a class="btn btn-sm btn-info">16</a></td>
            <td><a class="btn btn-sm btn-info">17</a></td>
            <td><a class="btn btn-sm btn-info">18</a></td>
            <td><a class="btn btn-sm btn-info">19</a></td>
            <td><a class="btn btn-sm btn-info">20</a></td>
        </tr>
    </table>
</div>

<div class="row" id="announcements">
    <div class="panel-group" id="accordion">
        {% for announcement in announcements %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {{ announcement.title }}
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse out">
                    <div class="panel-body">
                        {{ announcement.content|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    $(".main .btn-info").click(function (event) {
        var week = $(this).text(),
                html = '';

        event.preventDefault();

        $.get("/api/announcement/", {
            "school_week": week
        }).done(function (data) {
            if (data.hasOwnProperty('announcements')) {
                $.each(data.announcements, function (index, announcement) {
                    html += '<div class="panel panel-info">\
                                <div class="panel-heading">\
                                    <h4 class="panel-title">\
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">\
                                            ' + announcement.title + '\
                                        </a>\
                                    </h4>\
                                </div>\
                                <div id="collapseOne" class="panel-collapse collapse out">\
                                    <div class="panel-body">\
                                        ' + announcement.content + '\
                                    </div>\
                                </div>\
                            </div>';
                });
                $("#accordion").html(html);

            }

        });
    })
</script>