{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "images/favicon.ico" %}">

    <title>大连交通大学教务在线</title>
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/nprogress.css" %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-mortar-board fa-lg"></i> 综合教务管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href=""><i class="fa fa-home fa-lg"></i> 首页</a></li>
                <li><a href="/signout/"><i class="fa fa-sign-out fa-lg"></i> 退出</a></li>
                <li><a href="#"><i class="fa fa-child fa-lg"></i> 我的信息</a></li>
                <li><a href="#"><i class="fa fa-key fa-lg"></i> 修改密码</a></li>
                <li><a href="#"><i class="fa fa-inbox fa-lg"></i> 教务运行公告</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-delicious fa-lg"></i>
                        学生空间<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-building fa-lg fa-fw"></i> &nbsp;教室查询</a></li>
                        <li><a href="#"><i class="fa fa-table fa-lg fa-fw"></i> &nbsp;本学期课表查询</a></li>
                        <li><a href="#"><i class="fa fa-book fa-lg fa-fw"></i> &nbsp;学生选课</a></li>
                        <li><a href="#"><i class="fa fa-circle-o-notch fa-lg fa-fw"></i> &nbsp;重修重考报名</a></li>
                        <li><a href="#"><i class="fa fa-institution fa-lg fa-fw"></i> &nbsp;学生考试安排</a></li>
                        <li><a href="#"><i class="fa fa-check fa-lg fa-fw"></i> &nbsp;课程成绩</a></li>
                        <li><a href="#"><i class="fa fa-check-circle fa-lg fa-fw"></i> &nbsp;等级考试成绩</a></li>
                        <li><a href="#"><i class="fa fa-comment fa-lg fa-fw"></i> &nbsp;评估课程</a></li>
                        <li><a href="#"><i class="fa fa-list fa-lg fa-fw"></i> &nbsp;个人教学计划</a></li>
                        <li><a href="#"><i class="fa fa-sign-in fa-lg fa-fw"></i> &nbsp;等级考试报名</a></li>
                    </ul>
                </li>
            </ul>
            <p class="navbar-text navbar-right">您好！<a href="#" class="navbar-link">李赫</a>（1018110323），欢迎登录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="text-primary">2014年07月04日 周五</span>
                </div>
                <div class="panel-footer">
                    2014年春 第<span class="text-danger"> 18 </span>周
                </div>
            </div>
            <ul class="nav nav-sidebar">
                <li><a href="#" data-url="/announcement/">修改密码</a></li>
                <li><a href="#" data-url="/announcement/">教室查询</a></li>
                <li><a href="#" data-url="/announcement/">学籍信息</a></li>
                <li><a href="#" data-url="/announcement/">本学期课表查询</a></li>
                <li><a href="#" data-url="/announcement/">学生选课</a></li>
                <li><a href="#" data-url="/announcement/">重修重考报名</a></li>
                <li><a href="#" data-url="/announcement/">学生考试安排</a></li>
                <li>
                    <a type="button" data-toggle="collapse" data-target="#demo">
                        个人成绩查询
                    </a>
                    <ul id="demo" class="list-group collapse out">
                        <li class="list-group-item"><a class="btn btn-block" href="#">课程成绩</a></li>
                        <li class="list-group-item"><a class="btn btn-block" href="#">等级考试成绩</a></li>
                    </ul>
                </li>
                <li><a href="#">评估课程</a></li>
                <li><a href="#">教学评价</a></li>
                <li><a href="#">个人教学计划</a></li>
                <li><a href="#">等级考试报名</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div style="text-align: center; ">
                <br><br>
                <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/vendor/bootstrap.js" %}"></script>
<script src="{% static "js/vendor/backbone.js" %}"></script>
<script src="{% static "js/vendor/nprogress.js" %}"></script>
<script src="{% static "js/doc.min.js" %}"></script>
<script src="{% static "js/client/app.js" %}"></script>
<script>

    NProgress.configure({ ease: 'ease', speed: 1000 });

    jw_get('/announcement/');

</script>
</body>
</html>
